body {
    background-color:  #262526;
}

/* Navbar */

.navbar {
    height: 8vh;
    width: 100vw;
}

.navbar-toggler {
    margin-right: 50px;
}

.navbar-toggler-icon {
    color: #F2F2F2;
}

#menu {
    display: inline;
    margin-left: 5px;
    font-size: 16px;
    color: #8C8979;
}


/* Main Content */

#name-intro, #about, #projects, #contact {
    text-align: center;
    color: #F2F2F2;

}

#name-intro {
    background-color: #E93F33;
    height: 55vh;
}

#about {
    background-color: #8C8979;
}

#projects {
    background-color: #8C8979;
    height: 31vh;
}

#contact {
    background-color: #404040;  
}

/* Footer */

#footer {
    background-color: #262526;
    padding: 8px;
    color: #F2F2F2;
    height: 7vh;
}

/* Media Queries */

@media  (min-width: 900px) {
    
}
