body {
    margin: 0;
}

/* Navbar */

#navbar {
    background-color: #262526;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 8vh;
    border-bottom: 1px solid black;
  }
  
  h1 {
    color: #F2F2F2;
    letter-spacing: 1.5px;
  }
  
  img {
    margin-right: 10px;
  }

  .menu-word {
      display: inline;
      color: #8C8979;
      letter-spacing: 1px;
      font-size: 20px;
      cursor: pointer;
  }
  
  #close {
    color: #8C8979;
    margin: 5px 30px;
    font-size: 30px;
    display: none;
    cursor: pointer;
  }
  
 .toggle:hover {
     opacity: 0.6;
 }

 .menu-word:hover {
     color: #F2F2F2;
 }

  #close:hover {
    opacity: 0.7;
  }
  
  /* Hidden Menu */
  
  #hidden-menu {
    display: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.95);
    margin: 0;
    text-align: right;
    position: absolute;
    right: 0px;
    width: 100vw;
    letter-spacing: 1.5px;
  }
  
  ul {
    list-style-type: none;
    margin: 0 20px;
  }
  
  li {
    margin: 0px;
    padding: 10px 0;
    cursor: pointer;
  }
  
  li:hover {
    color: red;
  }


/* Main Content */

#name-intro, #about, #projects, #contact {
    text-align: center;
    color: #F2F2F2;
    margin: 0 auto;
}

#name-intro {
    background-color: #E93F33;
    height: 54vh;
}

#about {
    background-color: #8C8979;
}

#projects {
    background-color: #8C8979;
    height: 31vh;
}

#contact {
    background-color: #404040;  
}

/* Footer */

footer {
    background-color: #262526;
    padding: 8px;
    color: #F2F2F2;
    height: 7vh;
    text-align: center;
    width: 100vw;
}

#copyright {
    font-size: 14px;
    margin: 0;
}

.social-icon:hover {
  opacity: 0.7;
  background-color: #f2f2f2;
  padding: 1px;
  
}


/* Media Queries */

@media  (min-width: 900px) {
   
}
